 <% action = cat.persisted? ? cat_url(cat) : cats_url %>
 <% button_text = cat.persisted? ? "Edit Cat" : "Create Cat" %>
 

<form action="<%= action %>" method="POST">
  <% if cat.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <label for="cat_name">Name </label>
  <input type="text"
         id="cat_name"
         name="cat[name]"
         value="<%= cat.name %>">
    <br>
    
   <label for="cat_sex">Sex: </label>
   <input id = 'cat_sex' type="radio" name="cat[sex]" value="M" <%=cat.sex == 'M' ? 'checked' : ''%>> Male
   <input id = 'cat_sex' type="radio" name="cat[sex]" value="F" <%=cat.sex == 'F' ? 'checked' : ''%>> Female<br>

    <label for = "cat_color">Color</label>
    <select name= 'cat[color]' id = "cat_colors">
        <option value = "black" <%=cat.color == 'black' ? 'selected' : ''%>>Black</option>
        <option value = "white" <%=cat.color == 'white' ? 'selected' : ''%>>White</option>
        <option value = "orange" <%=cat.color == 'orange' ? 'selected' : ''%>>Orange</option>
        <option value = "brown" <%=cat.color == 'brown' ? 'selected' : ''%>>Brown</option>
    </select>
    <br>
    
    <label for = "cat_birth_date">Birth date</label>
    <input
        type = 'date'
        name = 'cat[birth_date]'
        id='cat_birth_date'
        value="<%= cat.birth_date %>">
    <br>

    <label for = "cat_description">Description</label>
    <input
        type = 'textarea'
        name = 'cat[description]'
        id='cat_description'
        value="<%= cat.description %>">
    <br>



  <input type="submit" value="<%= button_text %>">
</form>